#main-nav ul {
  margin: 0px;
  vertical-align: top;
  display: inline-block; }
  #main-nav ul li {
    margin: 0px;
    float: left;
    list-style-type: none; }
    #main-nav ul li a {
      display: inline-block; }
      #main-nav ul li a:hover {
        text-decoration: none; }
    #main-nav ul li:hover {
      position: relative; }
      #main-nav ul li:hover > ul {
        display: block; }
  #main-nav ul ul {
    padding: 0px;
    top: 100%;
    left: 0%;
    min-width: 120px;
    display: none;
    position: absolute; }
    #main-nav ul ul li {
      padding: 0px;
      width: 100%;
      border: none;
      text-align: center;
      float: none; }
      #main-nav ul ul li > a {
        display: block; }
    #main-nav ul ul ul {
      top: 0;
      left: 100%; }
