// Variables

$black:							#000;
$white:							#fff;

$red:							#c2002f; // Hover link, important text, Brand design icon

$pink-d:						#d9485a; // Cherry Blossom border
$pink-c:						#cf4e4f; // Dropdown Hover

$golden-c:						#c7a667;

$teal-3:						#3cafb0; // Wave border

$gray-e:						#e5e5e5; // hr
$gray-b:						#bbbbbb; // Social Networks
$gray-c:						#c1c1c1; // Ninja handbook stroke
$gray-8:						#888888; // Author name
$gray-9:						#999999; // Meta data text
$gray-2:						#232121; // Ninja Black Official color
$gray-3:						#333; // Text

$gray-blue:						#61737d; // Projects

$blue:							#2392d7; // Website icon
$green:							#49b98d; // FrontEnd icon
$teal-0:						#0da191; // Landing Page icon
$golden-d:						#deb552; // Website Administration icon


// Font Size

$base-fontsize:					14px;