// Variables

$black:             #000;
$white:             #fff;

$pink:              #d46782; // Front End Ninja Official Pink

$gray-e:            #e5e5e5;
$gray-b:            #bbbbbb;
$gray-c:            #c1c1c1;
$gray-8:            #888888;
$gray-9:            #999999;
$gray-2:            #232121;
$gray-3:            #333;

$success:           #CDF1E0;
$info:              #C8E4F5;
$warning:           #FFF8C4;
$danger:            #FFD5DF;

/* Template Colors */
$primary:           $pink;

// Font Size
$base-fontsize:     18px;

$primaryFontFamily: $Open-Sans;
$secondaryFontFamily: 'Arial', sans-serif;